Flask
flask-cors
Flask-JWT-Extended
Flask-Limiter
Flask-Migrate
Flask-SQLAlchemy
SQLAlchemy
numpy
pandas
scikit-learn
scipy
sentence-transformers
transformers
torch
tokenizers
huggingface_hub
safetensors
textblob
nltk
pydantic
python-dotenv
requests
Werkzeug
Jinja2
click
itsdangerous
MarkupSafe
joblib
threadpoolctl
typing_extensions
packaging
PyYAML
regex
tqdm
filelock
fsspec
networkx
sympy
textblob==0.19.0
Flask-SocketIO
tenacity
python-magic
